<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/assets/styles.css" type="text/css">
<title>Page Title</title>
</head>
<body>
<% include partials/nav.ejs %>
<h1>Week <%=week%></h1>
<%if(data){%>
<% data.forEach(function(item){%>
  <h1>Match Up: <%=item.homeTeamId%> Vs. <%=item.awayTeamId%> </h1>
  <h2>Score: <%=item.homeScore%> Vs. <%=item.awayScore%></h2>
<%});%>
<%}%>
</body>
</html>
